/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(237, 65, 31);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    width: 100%; 
}

h2 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(232, 142, 33);
    text-align: center;
    width: 100%; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
    width: 100%; 
}

ul li {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #ddd;
}

header::before {
    content: "";
    background-color: rgb(239, 184, 211);
    height: 15vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
}
